.movies .list-title{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  color: var(--white);
}

.movies .list  {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  gap: 3rem;
  transition: transform 0.6s linear;
  -webkit-transition: transform 0.6s linear;
  -moz-transition: transform 0.6s linear;
  -ms-transition: transform 0.6s linear;
  -o-transition: transform 0.6s linear;
}

 