.home{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 85%;
    height: 100%;
    gap: 1.5rem;
    padding: 0 2rem;
    grid-auto-rows: minmax(11.25rem , 36rem);
}

.box{
    border: 1px solid white;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.one-row{
    grid-row: span 1;
}
.three-row{
    grid-row: span 3;
}

.three-col {
    grid-column: span 3;
}

.one-col{
    grid-column: span 1 ;
}