.cardbox{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 2rem 6rem;
}

.noitems{
    width: 100%;
    text-align: center;
    color: var(--white);
}